
body{
    margin:0 10% 0 10%;
    /* background-color: azure; */
    background-image: url(../portfolio/images/mountain.jpg);
    background-size: cover;
}

#icons{
    text-align: center;
}

.icon{
    font-size: 8rem;
    padding-right: 3rem;
}

.homebody{
    padding-top: 1rem;
}
